* {
    margin: 0;
    padding: 0;

}

.bodyforquiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#b4bfe5, #6f51b5);
    font-family: 'poppins';
    min-height: 100vh;
    background-size: cover;
    background-position: center;

}

.container {
    width: 640px;
    margin: auto;
    background-color: #fff;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 17px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h1 {
    text-align: center;
}

.container h2 {
    font-size: 25px;
    font-weight: 500;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.index {
    margin: auto;
    font-size: 18px;

}

.container .correct {
    background: #dffff2;
    border-color: #00d397;
    color: #00d397;

}

.container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
    color: #ff4a4a;
}

.exit-button {
    width: 250px;
    height: 50px;
    border: none;
    margin-top: 20px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: 'poppins';
    font-size: 17px;
    font-weight: 700;
    color: #6f51b5;
    margin-bottom: 50px;
    cursor: pointer;
    /* margin-left: 43%; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}